anchor_version = "0.25.0"
solana_version = "1.13.5"

[features]
seeds = true
skip-lint = false

[programs.localnet]
gpl_core = "CDDMdCAWB5AXgvEy7XJRggAu37QPG1b9aJXndZoPUkkm"
gpl_compression = "41kNwkQ9jESNYZJyAA1ENscQfx7vfkEf6uetVSFmfyaW"
gpl_session = "3ao63wcSRNa76bncC2M3KupNtXBFiDyNbgK52VG7dLaE"
gpl_nameservice = "7LEuQxAEegasvBSq7dDrMregc3mrDtTyHiytNK9pU68u"

[programs.devnet]
gpl_core = "CDDMdCAWB5AXgvEy7XJRggAu37QPG1b9aJXndZoPUkkm"
gpl_compression = "41kNwkQ9jESNYZJyAA1ENscQfx7vfkEf6uetVSFmfyaW"
gpl_session = "3ao63wcSRNa76bncC2M3KupNtXBFiDyNbgK52VG7dLaE"
gpl_nameservice = "7LEuQxAEegasvBSq7dDrMregc3mrDtTyHiytNK9pU68u"

[programs.mainnet]
gpl_core = "CDDMdCAWB5AXgvEy7XJRggAu37QPG1b9aJXndZoPUkkm"
gpl_compression = "41kNwkQ9jESNYZJyAA1ENscQfx7vfkEf6uetVSFmfyaW"
gpl_session = "3ao63wcSRNa76bncC2M3KupNtXBFiDyNbgK52VG7dLaE"
gpl_nameservice = "7LEuQxAEegasvBSq7dDrMregc3mrDtTyHiytNK9pU68u"


[[test.genesis]]
address="cmtDvXumGCrqC1Age74AVPhSRVXJMd8PJS91L8KbNCK"
program="test-programs/spl_account_compression.so"

[[test.genesis]]
address="noopb9bkMVfRPU8AsbpTUg8AQkHtKwMYZiFUjNRtMmV"
program="test-programs/spl_noop.so"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "/Users/abishek/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000"
